#bar{
  height: 450px;
  width: 450px;
  background-color: #c4c5d0;
  /**margin: 50px auto;**/
}

#barra{
  height: 100%;
  width: 16.6666%;
  background-color: #f0cecb;
  float: right;
}

#barman{
  height: 16.6666%;
  width: 16.6666%;
  background-color: #8294f2;
  float: right;
  /*margin-right: 10px;*/
  position: relative;
  top: 0;
}

.table{
  height: 16.6666%;
  width: 66.6666%;
  background-color: red;
}

#table1{
  position: relative;
  top: 16.6666%;
}

#table2{
  position: relative;
  top: 33.333%;
}

#table3{
  position: relative;
  top: 49.999%;
}

.client{
  height: 16.6666%;
  width: 16.6666%;
  background-color: #0c32f6;
  float: left;
  position: relative;
}

.client1{
  top: 0;
  visibility: hidden;
}

.client2{
  top: 16.6666%;
  visibility: hidden;
}

.client3{
  top: 33.333%;
  visibility: hidden;
}

.visi{
  visibility: visible;
}
